In [ ]:
pip install requests

In [ ]:
pip install html5lib

In [ ]:
pip install bs4

In [ ]:
import requests

In [ ]:
from  bs4 import BeautifulSoup as bs

In [ ]:
#Write a python program to display all the header tags from‘en.wikipedia.org/wiki/Main_Page’.

url= 'http://en.wikipedia.org/wiki/Main_Page'
r=requests.get(url)
soup=bs(r.content)
titles = soup.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n\n')

In [ ]:
#Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release.
url = 'https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc'
r = requests.get(url)
soup=bs(r.text,'html.parser')
movies=soup.findAll('div',{'class':'lister-item mode-advanced'})
movie1=movies[0]
movie1.h3.a.text
movie1.find('span',{'class':'lister-item-year text-muted unbold'}).text[1:5]
movie1.find('div',{'class':'inline-block ratings-imdb-rating'})['data-value']
name=[]
year=[]
rating=[]

for i in movies:
    name.append(i.h3.a.text)
    year.append(i.find('span',{'class':'lister-item-year text-muted unbold'}).text[1:5])
    rating.append(i.find('div',{'class':'inline-block ratings-imdb-rating'})['data-value'])
    
data=list(zip(name,year,rating))
import pandas as pd
df=pd.DataFrame(data,columns=['name','year','rating'])
df.head(50)

In [ ]:
#Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release).
url='https://www.imdb.com/india/top-rated-indian-movies/'
r=requests.get(url)
soup=bs(r.text,'html.parser')
movies=soup.findAll('td',{'class':'titleColumn'})
movie1=movies[0]
movie1.a.text
movie1.find('span',{'class':'secondaryInfo'}).text[1:5]
movie1.find('td',{'class':'ratingColumn imdbRating'})
name=[]
year=[]
rating=[]

for i in movies:
    name.append(i.a.text)
    year.append(i.find('span',{'class':'secondaryInfo'}).text[1:5])
    rating.append(i.find('td',{'class':'ratingColumn imdbRating'}))
    
data=list(zip(name,year,rating))
df=pd.DataFrame(data,columns=['name','year','rating'])
df.head(100)

In [ ]:
#Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’
url="https://bookpage.com/search?book_genre=fiction&contributor_id=953&page=1&type=Review"
r=requests.get(url)
soup=bs(r.text,'lxml')
book=soup.findAll('div',{'class':'bp-block article-info'})   #title
book1=book[0]
book1.h4.a.text
book1.find('div',{'class':'flex-article-content'}).p.text[1:14]  #author
book1.find('p',{'class','genre-links hidden-phone'}).a.text  #genre
book1.find('p',{'class':'excerpt'}).text  #review
title=[]
author=[]
genre=[]
review=[]

for i in book:
    title.append(i.h4.a.text)
    author.append(i.find('div',{'class':'flex-article-content'}).p.text[1:14])
    genre.append(i.find('p',{'class','genre-links hidden-phone'}).a.text)
    review.append(book1.find('p',{'class':'excerpt'}).text.replace('\n',''))
    
data=list(zip(title,author,genre,review))
df=pd.DataFrame(data,columns=['title','author','genre','review'])
df.head()

In [ ]:
#Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have toscrape:

In [ ]:
#i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating
url='https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
r=requests.get(url)
r
html=r.content
soup=bs(html,'html.parser')
team = soup.find_all('span', class_='u-hide-phablet')
ODI_team = []
for i in range(0,10): #using range function to extract only top 10 data
    ODI_team.append(team[i].get_text().replace("\n",""))
ODI_team
team1_matches = soup.find('td', class_='rankings-block__banner--matches').text
team1_matches
add_info =[]
aditional_info = soup.find_all('td', class_='table-body__cell u-center-text')
for i in aditional_info:
    add_info.append(i.get_text().replace("\n",""))
add_info
ODI_match = []
for i in range(0,18,2):
    ODI_match.append(aditional_info[i].get_text().replace("\n",""))
ODI_match
ODI_match.insert(0, "17")
ODI_match

In [ ]:
#ii) Top 10 ODI Batsmen in men along with the records of their team and rating.
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi'
r=requests.get(url).text
soup=bs(r,'lxml')
table=soup.find('div',attrs={'class':'rankings-block__container'})
playerlist=[]
for tr in table('tr'):
    for th in table('th'):
        for td in table('td'):
            playerlist.append(td.text.replace('\n','').strip())
            
for player in playerlist:
    print(player)

In [ ]:
# iii) Top 10 ODI bowlers along with the records of their team andrating
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi'
r=requests.get(url).text
soup=bs(r,'lxml')
table=soup.find('div',attrs={'data-cricket-role':'bowling'})
playerlist=[]
for tr in table('tr'):
    for td in table('td'):
        playerlist.append(td.text.replace('\n','').strip())
            
for player in playerlist:
    print(player)

In [ ]:
# Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have toscrape:

In [ ]:
# i) Top 10 ODI teams in women’s cricket along with the records for matches, points andrating.
url='https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
r=requests.get(url)
r
html=r.content
soup=bs(html,'html.parser')
team = soup.find_all('span', class_='u-hide-phablet')
ODI_team = []
for i in range(0,10): #using range function to extract only top 10 data
    ODI_team.append(team[i].get_text().replace("\n",""))
ODI_team
team1_matches = soup.find('td', class_='rankings-block__banner--matches').text
team1_matches
add_info =[]
aditional_info = soup.find_all('td', class_='table-body__cell u-center-text')
for i in aditional_info:
    add_info.append(i.get_text().replace("\n",""))
add_info
ODI_match = []
for i in range(0,18,2):
    ODI_match.append(aditional_info[i].get_text().replace("\n",""))
ODI_match
ODI_match.insert(0, "17")
ODI_match

In [ ]:
#ii) Top 10 women’s ODI players along with the records of their team and rating.
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
r=requests.get(url).text
soup=bs(r,'lxml')
table=soup.find('div',attrs={'class':'col-4 col-12-desk uniform-grid__section touch-scroll-list__element'})
playerlist=[]
for tr in table('tr'):
    for td in table('td'):
        playerlist.append(td.text.replace('\n','').strip())
            
for player in playerlist:
    print(player)

In [ ]:
#iii) Top 10 women’s ODI all-rounder along with the records of their team andrating
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
r=requests.get(url).text
soup=bs(r,'lxml')
table=soup.find('div',attrs={'data-title':'ODI All-Rounder Rankings'})
playerlist=[] 
for tr in table('tr'):
    for td in table('td'):
        playerlist.append(td.text.replace('\n','').strip())
for player in playerlist:
    print(player)

In [ ]:
#Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.
url='https://www.amazon.in/s?k=mobile+phones&i=electronics&rh=n%3A1389401031%2Cp_36%3A-2000000&s=price-asc-rank&qid=1632904480&rnid=1318502031&ref=sr_nr_p_36_5'
r=requests.get(url).text
soup=bs(r,'lxml')
mobile=soup.findAll('h2',{'class':'a-size-mini a-spacing-none a-color-base s-line-clamp-2'})

phone=[]
for i in mobile:
    phone.append(i.text)
phone

rate=soup.findAll('span',{'class':'a-price-whole'})

price=[]
for i in rate:
    price.append(i.text)
price

review=soup.findAll('div',{'class':'a-row a-size-small'})

rating=[]
for i in review:
    rating.append(i.text)
rating

links=soup.select('div',{'class':'a-section aok-relative s-image-fixed-height'})
images=[x.find('img') for x in links]
images

amazon=pd.DataFrame({})
amazon['phone']=phone
amazon['price']=price
amazon['rating']=rating
amazon

In [ ]:
#Write a python program to extract information about the local weather from the National Weather Service website of USA,
#https://www.weather.gov/ for the city, San Francisco.
#You need to extract data about 7 day extended forecast display for the city.
#The data should include period, short description, temperature and description.

url='https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YVQ_57gzZPY'
r=requests.get(url).text
soup=bs(r,'html.parser')
#period
a=soup.findAll('div',{'class':'col-sm-2 forecast-label'})
period=[]
for i in a:
    period.append(i.text)
period
short_desc=[]
for i in soup.find_all('div',class_="col-sm-10 forecast-text"):        
        short_desc.append(i.text.split(',')[0])


#temperature and description
c=soup.findAll('div',{'class':'col-sm-10 forecast-text'})
temp_disc=[]
for i in c:
    temp_disc.append(i.text)
temp_disc

weather=pd.DataFrame({})
weather['period']=period
weather['temp_disc']=temp_disc
weather['short_desc']=short_desc
weather

In [86]:
#Write a python program to scrape fresher job listings from ‘https://internshala.com/’. 
#It should include job title, company name, CTC, and apply date

url='https://internshala.com/internships/work-from-home-jobs'
r=requests.get(url).text
soup=bs(r,'lxml')
#title
a=soup.findAll('div',{'class':'heading_4_5 profile'})
job_title=[]
for i in a:
    job_title.append(i.text.replace('\n',''))
job_title
#company_name
b=soup.findAll('div',{'class':'heading_6 company_name'})
company_name=[]
for i in b:
    company_name.append(i.text[25:65].replace('\n',''))
company_name
#ctc
c=soup.findAll('span',class_='stipend')
c
package=[]
for i in c:
    package.append(i.text)
package
#apply_date
date=soup.find('div',{'class':'apply_by'}).find('div',{'class':'item_body'})
date
apply=[]
for i in date:
    apply.append(i)
apply
df=pd.DataFrame({})
df['job_title']=job_title
df['company_name']=company_name
df['package']=package
df

,job_title,company_name,package
0,Kindness Champion - Daan Utsav (Openings: 5000),Bhumi,Unpaid
1,7-Day Volunteering - Daan Utsav (Openings: 5000),Team Everest,Unpaid
2,Safety Champion - Daan Utsav (Openings: 3000),Safecity (Red Dot Foundation),Unpaid
3,Marketing,Fashion TV India,1000 /month
4,Content Writing,Fashion TV India,1000-2000 /month
5,Media & Public Relations (PR),Fashion TV India,1000-2000 /month
6,Operations,Times Business Solutions,1000-1500 /month
7,Business Development (Sales),Economic Times Edge,3000 /month
8,Human Resources (HR),Times Network,5000 /month
9,Recruitment,Teach For India,4000 /month
10,Graphic Design,Teach For India,Unpaid
11,Social Media Marketing,Teach For India,Unpaid
12,Social Media Marketing,Teach For India,Unpaid
13,Teaching,Teach For India,Unpaid
14,Education (Curriculum Development),Teach For India,Unpaid
15,Fundraising,WWF-India,1000 /month + Incentives
16,Campus Engagement,Times Business Solutions,1000-2000 /month
17,Business Development (Sales),Teach For India,4000 /month
18,Operations,UpGrad,20000 /month
19,Teaching,Teach For India,Unpaid
20,Teaching Assistance,Teach For India,Unpaid
21,Volunteering,Make A Difference,Unpaid
22,Student Leader Volunteering,Teach For India,Unpaid
23,Volunteering,Teach For India,Unpaid
24,Human Resources (HR),Times Business Solutions,1000-2000 /month
25,Content Writing,Times Business Solutions,1000-2000 /month
26,Marketing,Zoomcar India Private Limited,1000 /month
27,Marketing,Times Internet Limited,5000 /month
28,Human Resources (HR),PUMA Sports India Private Limited,5000 /month
29,QT Development,IIT Bombay,2000-5000 /month
30,Database Building/Management,Economic Times Edge,3000 /month
31,Social Media Marketing,Teach For India,Unpaid
32,Content Writing,Teach For India,Unpaid
33,Graphic Design,Teach For India,Unpaid
34,Human Resources (HR),Pocket FM,10000 /month
35,C++ Development (QT Creation),IIT Bombay,1000-2000 /month
36,Volunteering,Teach For India,Unpaid
37,Business Development (Sales),WWF-India,Unpaid
38,Text Correction (Sanskrit),IIT Bombay,1000 /month + Incentives
39,Business Development (Sales),MandatoryTrendz,10000 /month

In [82]:
#Write a python program to scrape house details from https://www.nobroker.in/ for any location. 
#It should include house title, location, area, emi and price
url='https://www.nobroker.in/property/sale/delhi/Saket?searchParam=W3sibGF0IjoyOC41MjIwOTcxLCJsb24iOjc3LjIxMDE1MzQsInBsYWNlSWQiOiJDaElKM1Q4RjNmRGhERGtSbnhOZ1dCcGMyWmMiLCJwbGFjZU5hbWUiOiJTYWtldCJ9XQ==&radius=2.0'
r=requests.get(url).text
soup=bs(r,'lxml')
#house
a=soup.findAll('h2',{'class':'heading-6 font-semi-bold nb__1AShY'})
a
house=[]
for i in a:
    house.append(i.text)
house
#location
b=soup.findAll('div',{'class':'nb__2CMjv'})
b
location=[]
for i in b:
    location.append(i.text)
location
#area
c=soup.findAll('div',{'class':'nb__3oNyC'})
c
area=[]
for i in c:
    area.append(i.text)
area
#emi
d=soup.findAll('div',{'id':'roomType'})
d
emi=[]
for i in d:
    emi.append(i.text.replace('â\x82¹',''))
emi
#price
e=soup.findAll('div',{'class':'heading-7'})[2]
e
price=[]
for i in e:
    price.append(i.replace('â\x82¹',''))
price
df=pd.DataFrame({})
df['house']=house
df['location']=location
df['area']=area
df['emi']=emi
df

,house,location,area,emi
0,3 BHK Flat For Sale In Sfs Dda Duplex Flats ...,H block,"1,865 sqft",2.01 Lacs/Month
1,2 BHK Flat For Sale In Shri Balaji In Saket,Mehrauli - Badarpur Rd near Saket metro station,800 sqft,"18,340/Month"
2,3 BHK In Independent House For Sale In Saket,"Independent House, Block D, Near Gyan Bharati ...","1,400 sqft",1.72 Lacs/Month
3,4 BHK Flat For Sale In Freedom Fighters Encl...,"c block near Saket Metro Station,","1,800 sqft","57,314/Month"
4,2 BHK Flat For Sale In Apartment In Saket,"Block D, Near Saket metro station gate no 1",720 sqft,"20,060/Month"
5,4 BHK Flat For Sale In Saket,"Standalone Building, E Block, Saket, New Delhi...","4,500 sqft",5.73 Lacs/Month
6,1 BHK Flat For Sale In Saket,"Standalone Building, Ashok Vihar near Ignu Un...",378 sqft,"8,597/Month"
7,3 BHK Flat For Sale In Standalone Building ...,Near Select city walk and Amity International...,900 sqft,"28,657/Month"
8,2 BHK Flat For Sale In Standalone Building ...,"Press Enclave Marg, Saket Institutional Area, ...",675 sqft,"17,194/Month"
9,3 BHK Flat For Sale In Saket,"Standalone Building, Mehrauli-Badarpur Rd near...",900 sqft,"31,522/Month"